.divPanelFuncionario {
  display: flex;
  width: 97%;
  border: 1px solid black ;
  border-radius: 5px;
}

.spanTitleFuncionario {
  font-size: 15px;
  font-weight: bold;
  color: black;
  line-height: 1.8;
}

.divPanel {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding: 10px;
}

.inputTextFuncionario {
  width: 700px;
}

.divButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 5px;
  padding: 10px;
  line-height: 2;
  margin-bottom: 15px;
}

.divPanelAtendimento {
  display: flex;
  flex-direction: row;
  width: 97%;
  border: 1px solid black ;
  border-radius: 5px;
}

.divPanelColuna {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 5px;
  padding: 10px;
  line-height: 2;
  margin-bottom: 15px;
}

.spanTitleAtendimento {
  font-size: 10px;
  font-weight: bold;
  color: black;
}