<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/styles.css" />

  <title>Emissão de ASO</title>
</head>

<body>

  <h4> ASO WEB </h4>

  <h4> Funcionário </h4>

  <div id="funcionario" class="painel_flex_com_bordar">

    <div id="funcionario_nome_empresa">
      <label>Nome:</label><input type="text" name="input" id="nome" size="100"
        style="display: inline-block; text-align: right; width: 100%">
      <br>
      <br>
      <label>Empresa:</label><input type="text" name="input" id="empresa" size="100"
        style="display: inline-block; text-align: right; width: 100%">
      <br>
      <br>
    </div>

    <div id="dados_funcionario" class="painel_com_bordar">
      <label> - Dado do Funcionário - </label><br><br>
      <label>Data Admissao:</label><span> - </span>
      <br>
      <br>
      <label>Cpf:</label><span> - </span>
      <br>
      <br>
      <label>CTPS:</label><span> - </span>
      <br>
      <br>
      <label>Setor:</label><span> - </span>
      <br>
      <br>
      <label>Cargo:</label><span> - </span>
      <br>
    </div>

    <div id="botoes_funcionario">
      <button>Cadastro</button><br><br>
      <button>Atendimento</button><br><br>
      <button>Detalhe</button><br><br>
    </div>

  </div>

  <h4> Atendimento </h4>

  <div id="atendimento" class="painel_com_bordar">

    <div id="dados_atendimento" class="painel_flex">

      <label>Data Atendimento</label><input type="date" name="input" id="data_atendimento">
      <label for="tipoConsulta">Tipo Consulta:</label>
      <select name="tipoConsulta" id="tipoConsulta">
        <option value="admissonal">Admissonal</option>
      </select>
      <label for="retornoTrabalho">Retorno ao Trabalho:</label>
      <select name="retornoTrabalho" id="retornoTrabalho">
        <option value="default"> - </option>
      </select>
      <div>
        <label>Situação Atendimento</label><br><span> - </span>
      </div>
      <button>Adicionar Exame</button>
    </div>
    <br>
    <br>
    <br>
    <div>
      <table border="1px">
        <th>Exame</th>
        <th>Data Realização</th>
        <th>Clínica</th>
        <th>Responsável</th>
      </table>
    </div>
  </div>


</body>

<script src="../js/atendimento.js"></script>

</html>